body{
	background-color: #f4f8f6;
	font-family: "Times New Roman", Times, san-serif;

}

header{
	background: -webkit-linear-gradient(top left,#4386bb,#615fa7,#615fa7);
	color: #fff;
	padding: 15px 20px;
	min-height: 150px;
}
.holder{
	float:right;
	border-radius: 50%;
	padding-right:  10px;
}
.name{
	float:right;
	line-height: 200%;
	padding-left:20px;
}
nav{
	width: 233.6px;
	background-color: #ffffff;
	/*position:fixed;*/
	float: left;
	z-index: 1000px;
	height: 1000px;
	bottom: 0px;

}
nav ul{
	list-style:none;
	padding-top: 23px;
}
nav ul li{
	text-decoration: none;
	display: block;
}
li{
	margin-top: 30px;
}
span{
	padding-left: 20px;
}

button{
	color: #fff;
	font-size: 4px;
    height: 36px;
    padding: 10px 10px;
	margin-top: 71px;
	border-radius: 4px;
	background-color: #07A3BA;
	float: left;
	border:none;
}
.one{
	background-color: #fff;
	margin-top: 29px;
	margin-left: 273.6px;
	padding: 20px;
}
	
 input{
 	width: 342px;
 	padding: 10px;
 	border-radius: 8px;
 	border:none;
 	border: 0.2px solid #979797;
 	float: left;
 	margin-left: 20px;
 }


	.two{
		margin-left: 273.6px;
		width: 724px;
		margin-top: 15px;
		background-color: #fff;
		padding:20px 25px;
		color: rgba(0,0,0,0.7);

	}
.head{
	padding: 5px;
}

hr{
	margin-top: 20px;
	border: 0.5px solid #C4C4C4;
}
/*start of switch button*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
	display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #18d61e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #18d61e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

